@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Manrope", sans-serif;
}

@keyframes scroll {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
   
  }
  
  .animate-scroll {
    animation: scroll 20s linear infinite;
  }